/*The background*/
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url('/public/images/mainbackground.JPG');
  overflow: hidden;
  color:white;
}


#container{
  float: right;
}
#game{
  display: none;
}
#ctx{
  border: 1px solid black;
  margin: 4px;
  border-radius: 5px;
  opacity: 0.9;
}

#chat-text{
  width: 464px;
  height:400px;
  overflow-y:scroll;
  border:1px solid black;
  border-radius: 5px;
  margin:4px;
  background: #343434;
  opacity: 0.8;
  background-position:center;
  font-family: Arial;
  font-size: 18px;
}
#chat-text::-webkit-scrollbar{
  width:0;
  height: 0;
}
#chat-input{
  width: 464px;
  margin-bottom:4px;
  border-radius: 5px;
}

#connected-players{
  width: 464px;
  height:120px;
  overflow-y:scroll;
  padding-left: 3px;
  border:1px solid black;
  border-radius: 5px;
  background: #343434;
  background-position:center;
  opacity: 0.8;
}

#connected-players::-webkit-scrollbar{
  width:0;
  height: 0;
}
#register{
  display: none;
}
#sign, #register{
  width: 300px;
  padding: 40px;
  position: absolute;
  background: black;
  top: 50%;
  left: 50%;
  border: 3px solid green;
  transform: translate(30%,-50%);
  text-align: center;
  border-radius: 10%;
}

#features{
  width: 300px;
  padding: 40px;
  position: absolute;
  background: black;
  top: 50%;
  left: 50%;
  border: 3px solid green;
  transform: translate(-125%,-50%);
  text-align: center;
  border-radius: 10%;
}
#sign h1, #register h1, #features h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
a{
  color: green;
  text-decoration: none;
}
p{
  line-height: 27px;
}
#sign-username ,#sign-password,#register-username,#register-password{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
}

#sign-username:focus,#sign-password:focus,#register-username:focus,#register-username:focus{
  border-color: #2ecc71;
}
#sign-signin, #sign-signup,#register-signup{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#sign-signin:hover,#sign-signup:hover,#register-signup:hover{
  background: #2ecc71;
}
